.article-more-news {
  font-size: 1.8rem;
  color: #040303;
  margin-top: 8.5rem;
}

.article-related {
  margin: 3.5rem 0 8.5rem 0;

  hr {
    height: 1px;
    background-color: rgba(4, 3, 3, 0.5);
    margin-top: 2rem;
    margin-bottom: 1.4rem;
  }
}

.more {
  margin: 2rem 0 0 0;
}

.news-card-small {
  margin-bottom: 6rem;
}
