.square_button {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.9rem 0.8rem;
    position: absolute;
    right: 3rem;
    bottom: 2.5rem;
    overflow: hidden;

    img {
      animation: appear_from_left 1s;
    }

    &.is-white {
      border:2px solid white;
    }

    &.is-black {
      border:2px solid black;
    }

    &:hover {
      img {
        animation: clickme 1s infinite;
      }
    }
}

@keyframes appear_from_left {
  0% {
    transform: translate(-5rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}


@keyframes clickme {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  100% {
    transform: translate(5rem);
    opacity: 0.5;
  }
}