.card {
  padding:3rem;
  overflow: hidden;
  height: 46.2rem;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  max-width: 100%;
}

.card.half {
  height:22.4rem;
  margin-bottom: 1.4rem;
}

.card h3 {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.2rem;
  animation: appear_from_top 1s;
}
.card h2 {
  margin-left: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: -1rem;
  animation: appear_from_top 1s;
}

.card h3, .card h2 {
  text-transform: uppercase;
}


@keyframes appear_from_left{
  0% {
    transform: translate(-5rem);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes appear_from_top{
  0% {
    transform: translate(0,-5rem);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
