
footer {



  .footer_box {
    display:flex;
  }

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    } 
  }

  .navbar-link:not(.is-arrowless) {    
    color: white;
    padding: 0 1.5rem;

    &:hover {
      font-weight: normal;
    }
  }

  .navbar-link:not(.is-arrowless)::after{
    border-color: white;
    margin-top: -0.375em;
    right: 0;
    border-width: 2px;
  }
}



.left_part, .middle_part, .right_part {
  display: inline-block;
}

.left_part {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin-right: 7rem;

  .left_down {
    color: white;
  }
}

.middle_part {
  margin-right: 7rem;
  flex-grow: 1;


  .footer_menu {


    
  
    .Menu_column {
      
    }
  }
  .bottom_hr {
    background-color:rgba(255,255,255,0.5);
    height:1px;
    margin-top: 3.7rem;
  }
  .middle_down_mobile {
    display: none;
  }
}

.partners {
    
  }

.right_part {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    align-self: baseline;
    justify-content: flex-end;


    button.navbar-item {
      padding: 0.5rem;
      color: white;
    }

    .dropdown {
      .dropdown-menu{
          left: 24%;
          top: 120%;
      }
      .dropdown-content {
        width: 4rem;
        background-color: transparent;
        .navbar-item {
          color: white;
        }
      }
    }
}



@media (min-width: 416px) and (max-width: 768px){


  .left_part {
    height: 39rem;
    margin-right: 4.5rem;
    height: auto;
  }
  .middle_part {
    margin-right: 0;
    padding-top: 1rem;
    .bottom_hr {
      margin-bottom: 0;
    }
  
  }

  .right_part {
    .dropdown {
      margin-top: 1rem;
      .dropdown-menu{
        left: -65%;
        top: 120%;
      }
    }
  }
}

@media (max-width: 415px) {

  footer {

    padding: 3.5rem 0 5rem;

  }

    .footer_box {
      display:flex;
      flex-wrap: wrap;

      .left_part {
        order: 0;
        height: auto;
        margin-right: 4rem;
        .left_down {
          display: none;
        }
      }
      .middle_part {
        order: 2;
        margin-right: 0;

        .footer_menu {


          .Menu_column {
           
        }

        .middle_down_mobile {
          display: inline;
          color: white;

          p {
            width:100%;
          }
        }

        .bottom_hr {
          display: block;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 55%;
          width: 45%;
        }
      }
      .right_part {
        order: 1;
        .dropdown {
          .dropdown-menu {
            left: -5px;
            top: 33%;
          }
        }
      }
    }
    
    .partners {
      flex-wrap: wrap;
      flex-basis: 50%;
      margin: 0 auto;
      width: 90%;

      a {
        img {
          margin-right: 0;
          margin-bottom: 3.8rem;
        }
      }

      a:nth-of-type(1) {
        img {
          width: 8rem;
          height: 3.1rem;
        }
      }
  
      a:nth-of-type(2) {
        margin-left: 7rem;
        img {
          width: 10.9rem;
          height: 3.8rem;
        }
      }
  
      a:nth-of-type(3) {
        margin-left: -1rem;

        img {
          width: 11.8rem;
          height: 2.6rem;
        }
      }
  
      a:nth-of-type(4) {
        margin-left: 8rem;
        img {
          width: 4.5rem;
          height: 3.1rem;
        }
      }
    }
}
}