@import "~bulma/sass/utilities/initial-variables";

$tablet:768px;
$column-gap: 1.5rem;

@import '~bulma/bulma';
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);

//import other files here
@import "./fonts.scss";

// pages and components
@import './nav.scss';
@import './about.scss';
@import './article.scss';
@import './event.scss';
@import './events.scss';
@import './footer.scss';
@import './mainpage.scss';
@import './mediakit.scss';
@import './people.scss';
@import './persona.scss';
@import './reports.scss';
@import './research.scss';
@import './searchpage.scss';
@import './searchPopup.scss';
@import './team.scss';
@import './vacancies.scss';
@import './videopage.scss';

body {
  font-family: "DIN Pro", sans-serif;
  color: #040403;
}

body.noscroll {
    position:fixed;
    overflow:hidden;
    width: 100%;
}

html {
    font-size: 62.5%;
}

.peoplepage, 
.aboutpage, 
.media-kit-page, 
.newspage, 
.evaluation-reports-page, 
.teampage, 
.video-page, 
.research-page,
.eventspage {
    padding: 6rem 0;
}

.modal-close {
    position: absolute;
}

.modal-close::before, .modal-close::after {
    background-color: black;
}

.modal-close:active, .modal-close:hover, .modal-close:focus {
    background-color: white;
}

.page-main-heading {
    font-size: 4.2rem;
    font-weight: bold;
    color:#040303;
    text-transform: uppercase;
}

.main-category,  .main-category-link {
    display: inline;
}

.main-category {
  float:left;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #040303;
  margin-bottom: 3rem;
}
.main-category-link {
  float:right;
  font-size: 1.4rem;
  text-transform: lowercase;
  font-weight: 500;
  color: #3998D1;
  text-decoration: underline;
}

.cookie-consent {
    height: 7rem;
    background-color: #3998D1;
    position: relative;
    top: 1rem;
    width: 100%;
    z-index: 31;
  
    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color:white;
      margin-top: 0.5rem;
    }
  
    button {
      border: 2px solid white;
      font-size: 1.4rem;
      line-height: 2rem;
      text-transform: uppercase;
      color: white;
      text-align: center;
      position: relative;
      width: 100%;
      background-color: transparent;
      height: 3.5rem;
      cursor: pointer;   
      font-weight: 500;
      margin-top: 0.5rem;
    }
}

.paragraph-class {
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.slick-slide > div {
    height: 100%;
}


.tags-for-search {
    display: block;
    margin: 3.5rem 0 9rem;
}

.captions {
  color: #040303;
  margin-top: 6.5rem;
  font-size: 1.6rem;
}

.more-news {
  hr {
    margin-top: 5rem;
  }
  .more{
    margin: 1rem 0 0 0;
  }
}

.column.is-centered {
  text-align: center;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1140px;
    width: 1140px;
  }
  @media (max-width: 1088px) {
    max-width: 90%;
    width: 90%;
  }
  @media screen and (max-width: 768px) {
    max-width: 690px;
    width: 690px;
  }
  @media screen and (max-width: 415px) {
    max-width: 100%;
    width: auto;
    padding: 0 3rem;
  }
}



@media screen and (min-width: 1200px) {

    .columns.desktop {
        display: flex;
    }
    .columns.mobile {
        display: none;
    }
}

  
@media screen and (max-width: 768px) {
    
    #__next {
        overflow-x: hidden;
    }
    .cookie-consent {
        p {
          margin-top: 0;
        }
      }
}

@media screen and (max-width: 415px) {

    .page-main-heading {
      font-size: 3.2rem;
      font-weight: bold;
      color:#040303;
      text-transform: uppercase;
    }
    
    .more-news {
        hr {
          margin-top: 1rem;
        }
    }
    .cookie-consent {
        height:11rem;
        p {
          margin-top: 0;
        }
        button {
          margin-top: 2rem;
        }
    }     
}