.media-kit-page {
  .title {
    margin: 0;
  }

  p.main-category {
    float:none;
    display: block;
  }
  section {
    margin-top:9rem;
  }

  .img-wrap {
    height:35rem;
    position: relative;
  }

  .gallery-card {
    margin-bottom: 3rem;
    color: #040303;
    h1 {
      font-size: 2.2rem;
      line-height: 2.5rem;
      font-weight: bold;
      margin-top:3rem;
    }
    .date {
      font-size: 1.4rem;
      margin-top: 1.3rem;
      color: rgba(4,3,3,0.7)

    }
  }

  .video-card {
    color: #040303;

    a {
      color: #040303;
    }

    .video {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 0 !important;
        pointer-events: auto;
      }
    }
    h1 {
      font-size: 2.2rem;
      line-height: 2.5rem;
      font-weight: bold;
      margin-top:3rem;
    }
    .date {
      font-size: 1.4rem;
      margin-top: 1.3rem;
    }
  }

  .presentation-card {
    color: #040303;
    h1 {
      font-size: 2.2rem;
      line-height: 2.5rem;
      font-weight: bold;
      margin-top: 1.3rem;

    }
    p {
      font-size: 1.4rem;
      margin-top: 1.3rem;
      font-weight: bold;
      margin-top:3rem;
    }
  }
}




// ----------------------------IPAD STYLES--------------------------------------
@media (min-width: 416px) and (max-width: 768px){

  .media-kit-page {
    .img-wrap {
      height:33rem;
    }
  }

}





// ----------------------------SMARTPHONE STYLES--------------------------------------
@media (max-width: 415px) {
  .media-kit-page {
    padding: 8rem 0 10rem 0;
    .img-wrap {
      height:32rem;
      .photo, .presentation_thumbnail {
        height: 32rem;
        width: calc(100%);
      }
    }   
  }  

}