

// ----------------------------DESKTOP STYLES--------------------------------------


.navbar {
  padding: 2.9rem 0 0 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    } 
  }

  .navbar-brand {
    flex-shrink: 1;

    .navbar-item {
      padding: 0;

      .logo {
        width: 100%;
      }

      .mainlogo_ru {
        width: 255px;
      }
      .mainlogo_en {
        width: 238px;
      }
      img {
        width:7rem;
        max-height: 100%;
      }
    }
  }

  .navbar-menu {

    .navbar-start {
      margin-right: 1rem;
    }
  }
}

.navbar.on-slider {
  margin-bottom: -11rem;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    color: inherit;
}


a.navbar-item {
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'DIN Pro';
    font-size: 1.2rem;
}

.is-white  {
  color:white;
  margin-top: -2.3rem;
  &:hover {
      color:white!important;
    }
}

.is-black {
  color:black;
  &:hover {
      color:black;
    }
}

.opacity080 {
  opacity: 0.8;
}

.opacity050 {
  opacity: 0.5;
}


.is-white.navbar-link::after {
    border-color: white;
    opacity:0.8;
}

.is-black.navbar-link::after {
    border-color: black;
    opacity:0.5;
}

.navbar-burger span.bg-white {
  background-color: white;
  opacity: 0.8;
}

.navbar-burger span.bg-black {
  background-color: black;
  opacity: 0.5;
}


.navbar-item, .navbar-link {
    font-family: 'DIN Pro';
    font-size: 1.2rem;
    padding: 0 1.5rem;
}

.navbar-menu {
  flex-grow: 0;
    .navbar-end {
        button {
          img {
            width: 2rem;
            height: 2rem;
          }
        }
    }
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
  background-color: transparent;
  opacity: 1;
}



.navbar-start a.navbar-item:hover:nth-of-type(2) {
  padding: 0 1.49rem;
}

.navbar-dropdown a.navbar-item {
  padding: 0;
}

.navbar-item.has-dropdown a.navbar-item:hover, .navbar-link:hover {
    border: 0;
}

.navbar-link::after {
  right:0;
}

.navbar-dropdown {
    border-top: 0;
    padding: 0.5rem 0.75rem;
}

.navbar-dropdown a.navbar-item {
    padding: 0.5rem;
}


.social {
  padding-left: 0;
  a img {
    height:2rem;
    width:2rem;
  }
  a:nth-child(2) {
    img {
      width:2.5rem;
    }
  }
}

.navbar-dropdown {
    left: 4%;
    top: 70%;
    background-color: transparent;
}

.navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    opacity:1
}


.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}



 // ----------------------------IPAD STYLES--------------------------------------



@media (min-width: 320px) and (max-width: 1087px) {

  .navbar {
    padding: 1.5rem 3rem 1.5rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;

    .navbar-brand {
      flex-shrink: 0;
      justify-content: space-around;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 0;
    }
  }


  .navbar-burger {
    cursor: pointer;
    display: inline;
    position: relative;
    width: 3.25rem;
    margin: 1.2rem 0 0 1rem;
  }

  .navbar-burger:hover {
    background-color: transparent;
  }

  .navbar-burger span {
    height: 2px;
  }

  .navbar-brand .navbar-item.is-hidden-mobile.is-hidden-desktop.is-hidden-widescreen.is-hidden-fullhd {
    margin-left: auto;
    margin-right: 1rem;
  }

  a.navbar-item {
    opacity: 1;
  }

  .navbar-menu {
    margin-left: 0;
    height: 100vh;
    background-color: white;
  }
  .dropdown-header {
    padding: 1rem 0;
  }
  .dropdown-header a {
    background-color: white;
    border: 0;
    color: black;
    cursor: pointer;
    -ms-flex-pack: center;
    font-size: 2rem;
    white-space: pre-wrap;
    display: inline;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
    justify-content: left;
    padding-left: 2.5rem;
  }
  .dropdown-header svg {
    float: right;
    display: inline;
    margin-right: 2rem;
  }

  .dropdown-item {
    color: #555555;
    display: block;
    font-size: 2rem;
    line-height: 1.5;
    padding: 0.375rem 1rem;
    position: relative;
}

  .dropdown {
    width: 100%;
  }

  .dropdown-header {
    width: 100%;
  }

  .dropdown-header {
      flex-grow: 2;
  }

  .dropdown-divider {
      background-color: #c7c7c7;
      border: none;
      display: block;
      height: 2px;
      margin: 0.5rem 1.5rem;
  }

  #navMenu {
    padding:5rem 0 0 0;
    margin-top: 1.5rem;
    z-index: 9;

  }

  .dropdown-menu {
    width: 100%;
  }
  .dropdown-content {
    background-color: white;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0.5rem 0 0.5rem 4rem;
    padding-top: 0.5rem;
  }
  .dropdown-trigger .button:focus:not(:active), .button.is-focused:not(:active) {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .dropdown.is-active {
    display: block;
    .dropdown-header {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .dropdown.is-active > .dropdown-menu {
    width:100%;
    display: block;
    position: relative;
  }

  .social a {
    display: inline;
  }
  .social {
    text-align: center;
    padding: 10rem 0;
  }

  .social a img {
    height: 3rem;
    margin-right: 3rem;
    max-height: 3rem;
  }
  #navMenu .navbar-item.language {
    display:none;
  }
  .navbar-burger.is-active span:nth-child(1), .navbar-burger.is-active span:nth-child(3) {
    border: 1px solid black;
  }
  .mobile_search_container {
    width: 100%;
    padding: 0 1.5rem;

    .search_form {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      input {
        font-size: 1.6rem;
        font-style: italic;
        color: #555555;
        padding: 0 0 1rem 1rem;
        border: 0;
        flex-grow: 1;
        &:focus {
          outline: 0;
        }
      }
      #mobile-search-submit-button {
        background: url(/static/search_button.svg);
        width: 2rem;
        height: 2rem;
        border: 0;
        top: 4px;
        position: relative;
        cursor: pointer;
        right: 4px;
        background-size: cover;
        &:focus {
            outline: 0;
        }
      }
    }
  }
}


// ----------------------------SMARTPHONE STYLES--------------------------------------




@media (min-width: 320px) and (max-width: 415px){
  .navbar {
    .navbar-brand {
      .navbar-item {
        .mainlogo_ru {
          width: 100%;
        }
        .mainlogo_en {
          width: 100%;
        }
      }
    }
  }

  #navMenu {
      padding:0;
      margin-top: -8.7rem;
      position: relative;
      height: 100%;
  }

  .dropdown-item,   .dropdown-trigger .button {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .dropdown-trigger {
    padding: 1rem 0 1rem 1.5rem;
  }
  .dropdown-trigger .button {
    padding: 0;
  }
  .dropdown-content {
    padding: 1rem 0 2rem 3rem;
    padding-top: 0.5rem;
    margin-top: 1rem;
  }

  .svg-inline--fa.fa-w-14 {
    width: 1.2rem;
  }
  .dropdown-trigger svg {
    margin-top:0;
  }

  .social {
    text-align: center;
    padding: 6rem 0;
  }

  .social a img {
    height: 1.5rem;
    margin-right: 1.5rem;
    max-height: 3rem;
}
  #navMenu .navbar-item.language p {
    display: inline;
    color: #aeaeae;
  }
  #navMenu .navbar-item.language a {
    color: #aeaeae;
  }

  #navMenu .navbar-item.language {
    padding-top: 4.5rem;
    margin-bottom: 8rem;
    width: 50%;
    display:block;
  }

.navbar-burger {
    z-index: 10;
    margin: 0.5rem -1.5rem 0 auto;
}

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .navbar {
    .navbar-brand {
      .navbar-item {
        .logo {
          width: 70%;
        }
      }
    }
  }

}