.author, .title, .journal, .journal div, .journal div h1, .journal_volume, .journal_number, .journal_pages {
    display: inline;
    margin-right: 1rem;
}

.publication {
    margin-bottom:2rem;
    border-bottom: 1px solid gray;
}