.publication {
    
    margin:0 0 4rem 0;

    .journal_details, .date, .arxiv {
        font-size: 1.4rem;
        line-height: 2.3rem;
    }
    .journal_details, .journal, .journal_pages {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .journal_number, .journal, .article_number{
        margin-right: 0.5rem;

    }

    .journal, .arxiv {
        color: #3998D1;
        &:hover {
            text-decoration: underline;
        }
    }
    .journal::after {
        content: ","
    }

    .author {
        font-weight: bold;
        margin-right: 0.5rem;
        font-size: 1.6rem;
        line-height: 2.3rem;
        color: rgba(4,3,3,0.7);
        &::after {
            content: ","
        }
    }
    hr {
        width:16rem;
        height: 1px;
        margin: 1rem auto 1rem 0;
        background: rgba(4,3,3,0.5);
    }
    .title {

        margin: 0.5rem 0 0 0;
        a {
            color: #3998D1;
            h1 {
            margin:0;
            padding:0;
            font-size:2.2rem;
            line-height: 2.7rem;
            font-weight: 500;
            }
            &:hover {
                text-decoration: underline;
            }
        }

    }
}