// .author, .title, .journal, .journal div, .journal div p, .journal_volume, .journal_number, .journal_pages {
//     display: inline;
//     margin-right: 1rem;
// }


.pubspage {

    .settings {
        background: #F7F9FB;
        padding: 3rem 0 4rem;
        margin: 4.5rem 0 5rem 0;

        h5 {
            font-size: 1.6rem;
            line-height: 2.3rem;
            margin-bottom:3rem;
        }
        .name {
            font-size: 1.4rem;
            line-height: 3rem;
            font-weight: bold;
            display: inline;
            margin-right: 1rem;
        }
        .select {
            select {
                border-color: rgba(5, 4, 4, 0.5);
                border-radius: 0;
                height:3.5rem;
                option {
                    font-weight: normal;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                    font-style: italic;
                    font-family: 'DIN Pro';
                    padding: 0px 2px 1px;
                }
            }
        }
        .select:not(.is-multiple):not(.is-loading)::after {
            border: 0;
            top: 67%;            
            z-index: 4;
            content: url('/static/arrow_select.svg');
            transform: none;
            margin-right:1rem;
        }
    }
    
    .publication {
        margin:2rem 0;
    
        .journal_details, .journal, .journal_pages {
            display: flex;
            flex-direction: row;
        }
        .journal_number, .journal, .article_number{
            &::after {
                content: ","
            }
        }
        
        .author {
            font-weight: bold;
            margin-right: 0.5rem;
            &::after {
                content: ","
            }
        }
        hr {
            width:10rem;
            margin:0.5rem 0;
        }
        .title {
    
            margin:0;
    
            h1 {
            margin:0;
            padding:0;
            font-size:1.6rem;
            }
    
        }
    }
}


