.search-page {

    padding-top: 12rem;
    padding-bottom: 10rem;

    .search_form {
        position: relative;
        margin: 0 auto;

        #input-search {
            width: 90%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid rgba(4,3,3,0.5);
            font-size: 1.4rem;
            font-style: italic;
            padding-bottom: 4px;
            margin-right: 3rem;
            &:focus {
                outline: 0;
            }
        }
        #input-submit-button {
            background: url('/static/search_button.svg');
            width: 2.5rem;
            height: 2.5rem;
            border: 0;
            top: 4px;
            position: relative;
            cursor: pointer;
            &:focus {
                outline: 0;
            }
        }
    }
    .categories {
        margin-top: 1rem;
        p {
            font-size: 1.4rem;
            line-height: 1.8rem;
            margin-bottom: 2rem;
        }
    }
    .count {
        font-size: 1.4rem;
        line-height: 3rem;
        margin-bottom: 3rem;
        margin-top: 7rem;
    }
    .search-results {
        .result {
            margin-bottom: 3rem;
            a {
                font-size: 1.6rem;
                line-height: 3rem;
                font-weight: 500;
                color: #3998D1;
                text-decoration: underline;
                div {
                    display: inline;
                    h1 {
                        display: inline;
                        font-weight: 500;

                    }
                }
            }
            p {
                font-size: 1.6rem;
                line-height: 2.3rem;
            }
        }
    }
    .more_results {
        text-align: center;
    }
}



@media (min-width: 416px) and (max-width:768px){

    .search-page {
        .search_form {
            #input-search {
                width: 86%;
            }
        } 
    }   
}

@media (max-width:415px) {

    .search-page {
        .search_form {
            #input-search {
                width: 78%;
            }
        } 
        .count {
            margin-bottom: 0;
            margin-top: 3.5rem;
        }
        .categories {
            p:not(:nth-child(1)) {
                display: inline-block;
                margin-right: 3rem;
            }
        }
    }  
}