.teampage {
    overflow: visible;
    color:#040303;

    .main-category {
        float: none;
        margin-bottom: 6rem;
        display: block;
    }

    .team-header {
        h1 {
            font-size: 4.2rem;
            color: #040303;
            text-transform: uppercase;
            margin: -4px 0 0 -4px;
            line-height: 1;
            font-weight: bold;
            margin-bottom: 3rem;
        }
    
    
        h3 {
            font-size: 1.8rem;
            text-transform: uppercase;
            color: #040303;
        }
        .team-leader {

            h1, h5 {
                font-size: 2rem;
                font-weight: bold;
                margin: 1rem 0;
            }
        
            h3 {
                font-size: 1.8rem;
                text-transform: uppercase;
                color: #040303;
            }
        
            p {
                font-size: 1.4rem;
                line-height: 1.8rem;
                margin-bottom: 1rem;
                max-width: 80%;
        
            }
            img {
                height: auto;
                max-width: 80%;
                margin-top: 1rem;
            }
        }
        .team-list {
            margin-top: 5rem;

            h3 {
                margin-bottom: 2rem;
            }
            p {
                font-size:1.6rem;
                line-height: 2.3rem;
                font-weight: bold;
            }
        }
    }
}

.milestones-slider  {
    background-color: #F7F9FB;
    padding: 7rem 0;
    
    * {
        overflow: visible;
    }

    .column {
        padding: 0;
        margin: 0;
        display: flex;
        height:100%;
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        display: flex;
        height: auto;

    }
    .slick-slide > div {
        width: 100%;
    }
    .slick-prev {
        left: -4.5rem;
        &:before {
            content: "";
        }
    }
    .slick-next {
        right: -4.5rem;
        &:before {
            content: "";
        }
    }
}

.milestone {
    font-family: "DIN Pro", sans-serif;
    font-size: 1.4rem;
    color: black;
    position: relative;
    padding-right: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid #009ee2;
    line-height: 1.8rem;

    p {
        display: inline;
        font-weight: bold;
        color:#040303;
    }

    div > h6 {
        flex-grow: 1;
        margin-top: 2rem;
    }
    .vertical_line{
        border-left: 1px solid rgba(0,0,0,0.2);
        margin: 1rem 0 0 1.5rem;
        min-height:4rem;
        height:100%;
        overflow-y: hidden;
    }
    .milestone_dot {
        position: absolute;
        bottom: -5px;
        left: 1rem;
        margin-top: 1rem;
        overflow: visible;
    }
    border-bottom: 2px solid #009ee2;
}



.group {

    .quote-block {
        display: flex;
        margin: 4rem 0 0 0;

        .open-quote {
            align-self: flex-start;
            margin: 0 3rem 0 0;
          }
        .close-quote {
            align-self: flex-end;
            margin: 0 0 0 3rem;
          }

        .quote {
            font-size: 2.2rem;
            line-height: 2.7rem;
        }

        img {
            align-self: flex-start;
            margin-right: 4rem;
        }

    }

    .description {
        margin-top: 8rem;

        p {
            font-size: 1.6rem;
            line-height: 2rem;
            margin-bottom: 1rem;
        }
    }
}

.team { 
    margin-top: 9rem;
    p {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.topics  {
    padding: 7rem 0;
    margin-top: 7rem;    
    background-color: #F7F9FB;

    .column {
        margin: 0;
        display: flex;
        height:100%;
    }

    .slick-list {
        margin: 0 0 0 -1.5rem;
    }

    .slick-track {
        display: flex;
    }
    .slick-slide {
        display: flex;
        height: auto;
    }

    .slick-prev {
        left: -4.5rem;
    }
    .slick-next {
        right: -3.5rem;
    }
    
    .slide-wrapper {
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        padding: 4.5rem 2.5rem;
        height: 100%;
        &:focus {
            outline: 0;
        }
    }
    .column {
        &:focus {
            outline: 0;
        }
    }

    %back-font-set {
        position: absolute;
        font-size: 20rem;
        bottom: 0;
        display: flex;
        align-self: flex-end;
        line-height: 17rem;
        font-weight: 900;
        color: rgba(4,3,3,0.2);
    }
    .topic {
        display: flex;
        flex-direction: column;
        min-height: 17rem;
        height:100%;
        position: relative;

        &.number-1::before {
            content: "1";
            @extend %back-font-set;   
        }

        &.number-2::before {
            content: "2";
            @extend %back-font-set;   
        }
        &.number-3::before {
            content: "3";
            @extend %back-font-set;   
        }
        &.number-4::before {
            content: "4";
            @extend %back-font-set;   
        }
        &.number-5::before {
            content: "5";
            @extend %back-font-set;   
        }
        &.number-6::before {
            content: "6";
            @extend %back-font-set;   
        }
        &.number-7::before {
            content: "7";
            @extend %back-font-set;   
        }
        &.number-8::before {
            content: "8";
            @extend %back-font-set;   
        }
        &.number-9::before {
            content: "9";
            @extend %back-font-set;   
        }

        .topic-head {
            display: flex;
            h4 {
                font-size: 2.2rem;
                line-height: 3rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 3.5rem;
                padding-right: 3rem;
            }
        }

        ul {
            padding-right: 2rem;
        }

        li {
            font-size: 1.6rem;
            line-height: 1.2;
            margin-bottom: 1rem;
        }
        li::before {
            content: "\25E6"; 
            color:#009ee2;
            margin: 0 2rem 0 0;
        }
    }
}

.lab-images {
    position: relative;
    .lab-name {
        position: absolute;
        left: 20rem;
        bottom: 8rem;
        color: white;
        background: #009ee2;
        padding: 2rem 5rem;
        font-size: 1.4rem;
    }
    .slick-prev, .slick-next  {
        z-index: 3;
        background: #009ee2;
        width: 5rem;
        height: 5rem;
        text-align: center;
        padding: 1.5rem 1rem 1.5rem 0.7rem;
    }
    .slick-prev {
        &::before{
            content:"";
        }
        left:3rem;
    } 
    .slick-next {
        &::before{
            content:"";
        }
        padding: 1.5rem 1rem 1.5rem 1.5rem;
        right:3rem;
    }
}




@media (min-width: 416px) and (max-width:768px){

    .teampage {

        .topics {

            .slick-next {
                right: -3rem;
            }
            .slick-prev {
                left: -3rem;
            }
        }

        .milestones-slider  {

            .slick-next {
                right: -3rem;
            }
            .slick-prev {
                left: -3rem;
            }

        }

        .lab-images {
            
            .lab-name {
                left: 3rem;
                bottom: 3rem;
            }
        }

    }


}

@media (max-width:415px) {

    .teampage {

        .main-category {
            margin-bottom: 7.5rem;
        }

        .team-header {
    
            h1 {
                font-size: 3.2rem;
            }
            .team-leader {
                h1, h5 {
                font-size: 1.4rem;
                text-transform: none;
                font-weight: bold;
                margin: 2.5rem 0 0 0;
                }
                li {
                    font-size: 1.4rem;

                }
            }
        }

        .group  {
            .quote-block {
                flex-direction: column;

                .quote {
                    margin-top: 1rem;
                    p {
                        font-size: 2.2rem;
                        line-height: 2.7rem;
                    }
                }
            }
            .description {
                margin-top: 6rem;
                p {
                    font-size: 1.6rem;
                    line-height: 2.3rem;
                }
            }
        }

        .topics {

            .slick-list {
                margin: 0;
            }
            .column {
                padding: 2px;
            }
            .topic-head h4 {
                padding-right: 0;
            }

            .slick-prev, .slick-next {
                top: -5.8rem;
            }
            .slick-next {
                right: -8px;
            }
            .slick-prev {
                left: 0;
            }
        }

        .milestones-slider  {

            .slick-prev, .slick-next {
                top: -6.5rem;
            }
            .slick-next {
                right: -1rem;
            }
            .slick-prev {
                left: 0;
            }

        }

        .lab-images {
            margin-bottom: -7rem;
            
            .lab-name {
                position: relative;
                left: 0;
                bottom: 0;
                top: -4px;
            }

            .slick-prev {
                width: 4rem;
                height: 4rem;
                padding: 1rem 0.5rem 1rem 0.3rem;
            }

            .slick-next {
                width: 4rem;
                height: 4rem;
                padding: 1rem 0.3rem 1rem 0.5rem;            
            }
        }
    }
}
