.vacancies {
  margin-top: 9rem;
  padding: 6rem 0;
  background-color: #f7f9fb;

  .button-wraper {
    text-align: center;
    margin-top: 6rem;
    img {
      cursor: pointer;
    }
  }
  .more-info {
    width: 20rem;
    text-align: left;
  }

  h1 {
    margin-bottom: 3rem;
  }

  h6 {
    color: #040303;
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
  .modal-content {
    width: 92rem;
    padding: 6rem 0;
    color: #040303;
    background: white;
    font-size: 1.6rem;
    line-height: 2.3rem;

    hr {
      background-color: #040303;
      height: 1px;
      margin-bottom: 3rem;
    }
    hr.salary {
      margin-top: 10.5rem;
    }

    hr.final {
      margin-top: 3rem;
    }

    h3 {
      color: #040303;
      font-size: 2.2rem;
      line-height: 3rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    h6 {
      color: #040303;
      font-size: 1.6rem;
      line-height: 2.3rem;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    ul {
      margin-bottom: 3rem;
    }

    .description {
      strong,
      b {
        font-weight: 700;
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}

.vac_description {
  margin-bottom: 6rem;
}

.vacancy {
  height: 36rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 6rem 3rem 3rem 3rem;
  position: relative;
  cursor: pointer;

  h3 {
    color: #040303;
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: bold;
  }
}

.description_teaser {
  color: #040303;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.vacancy .square_button {
  bottom: 3rem;
}

.job-link {
  color: #3998d1;
  font-weight: bold;
  text-decoration: underline;
}

// ------------------ IPAD --------------------

@media screen and (max-width: 768px) {
  .vacancies {
    .modal-content {
      width: 90%;
      padding: 5.3rem 6rem;
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;

      h3 {
        margin: 0;
      }
      .vac-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 9rem;
      }
    }
  }
}

// ------------------ SMARTPHONE --------------------

@media screen and (max-width: 415px) {
  .vacancies {
    margin-top: 6rem;
    padding: 7rem 0;

    .modal-content {
      width: 100%;
      padding: 4rem 3rem;
      color: #040303;
      margin: 0 27px;
      max-height: 90%;
      position: relative;
      hr.salary {
        margin-top: 0;
      }
    }
  }
  .vacancy {
    height: 34rem;
  }
}
